<!-- #todo-list -->
{% include 'base/partials/todo_list.html' with todos=todos %}

<hr />

<form hx-post="{% url 'add-todo'  %}" hx-target="#todo-list" hx-swap="outerHTML" hx-on::after-request="this.reset()">
  {% csrf_token %}
  {{ todo_form }}

  <input
    type="submit"
    autocomplete="off"
    class="bg-gray-100 hover:bg-gray-300 focus:ring-gray-300 px-3 py-1 text-sm font-medium rounded-md shadow-sm transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
  />
</form>