<table class="text-center border-1">
    {% comment %}
    <caption>{{ calendar.month }} {{ calendar.year }}</caption>
    {% endcomment %}
    <thead>
        <tr class="font-bold text-white bg-red-600">
            <td>Mo</td>
            <td>Tu</td>
            <td>We</td>
            <td>Th</td>
            <td>Fr</td>
            <td>Sa</td>
            <td>Su</td>
        </tr>
    </thead>
    {% for week in calendar.weeks %}
        <tr>
            {% for day in week %}
                <td class="p-1 border-1 hover:bg-gray-300">
                    {{ day }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>