{% with btn_base="px-3 py-1 text-sm text-white font-medium rounded-md shadow-sm transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2" %}
    <li id="todo-item-{{ todo.id }}" class="mb-5 flex justify-between">
        <p>
            <span class="font-mono">{% if todo.due_on %}[{{ todo.due_on|date:"M d" }}]{% endif %}</span>
            {{ todo.task }}
        </p>

        <div>
            <button
                type="button"
                class="{{ btn_base }} bg-red-600 hover:bg-red-700 focus:ring-red-500"
                hx-delete="{% url 'delete-todo' todo_id=todo.id %}"
                hx-target="#todo-item-{{ todo.id }}"
            >
                Delete
            </button>

            <button
                type="button"
                class="{{ btn_base }} bg-green-600 hover:bg-green-700 focus:ring-green-500"
                hx-patch=""
                hx-target=""
            >
                Check
            </button>
        </div>
    </li>
{% endwith %}