{% extends "base.html" %}
{% load static %}

{% block title %} Hello templates {% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'base/css/index.css' %}">
{% endblock %}

{% block body %}
  <header class="text-center">
    <h1>Templates</h1>
    <time id="live-clock"></time>
  </header>

  <div class="flex" style="gap: 10%;">
    <aside id="navigation">
      <h3>Navigation</h3>
      <ul>
        <li>&gt; <a hx-get="{% url 'today' %}" hx-target="#active" hx-swap="innerHTML">Today</a></li>
        <li>&gt; <a hx-get="{% url 'backlog' %}" hx-target="#active" hx-swap="innerHTML">Backlog</a></li>
        <li>&gt; <a hx-get="{% url 'lists' %}" hx-target="#active" hx-swap="innerHTML">Lists</a></li>
        <li>&gt; <a hx-get="{% url 'notes' %}" hx-target="#active" hx-swap="innerHTML">Notes</a></li>
      </ul>
    </aside>

    <main id="active" class="flex-grow">
    </main>

    <aside id="context">
      <section>
        <h3>Calendar</h3>
        <pre class="month-calendar">{{ calendar }}</pre>
      </section>

      <hr />

      <section>
        <h3>Overdue</h3>
        <ul>
          {% for todo in todos %}
            <li>! {{ todo.task }}</li>
          {% endfor %}
        </ul>
      </section>
    </aside>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'base/js/live_clock.js' %}"></script>
{% endblock %}
