{% extends "base/base.html" %}
{% load static %}

{% block title %}Blueprint{% endblock %}

{% block body %}
  <header class="text-center">
    <h1>Blueprint</h1>
    <time id="live-clock"></time>
  </header>

  <div class="flex gap-10">
    <aside>
      <h3>Navigation</h3>
      <ul id="navigation-list">
        <li>&gt; <a class="text-blue-400" hx-get="{% url 'today' %}" hx-target="#active" hx-swap="innerHTML">Today</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="{% url 'backlog' %}" hx-target="#active" hx-swap="innerHTML">Backlog</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="{% url 'lists' %}" hx-target="#active" hx-swap="innerHTML">Lists</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="{% url 'notes' %}" hx-target="#active" hx-swap="innerHTML">Notes</a></li>
      </ul>
    </aside>

    <main id="active" class="grow">
      <!-- By default show Today section -->
      {% include 'base/partials/today.html' with todos=today_todos %}
    </main>

    <aside>
      <section>
        <h3>Calendar</h3>
        <pre>{{ calendar }}</pre>
      </section>

      <hr />

      <section>
        <h3>Overdue</h3>
        <ul>
          {% for todo in overdue_todos %}
            <li>! {{ todo.task }}</li>
          {% endfor %}
        </ul>
      </section>
    </aside>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'base/js/live_clock.js' %}"></script>

  <script>
    const activeLinkClassName = "text-blue-400";
    const inactiveLinkClassName = "text-slate-400";
    const navigationListUl = document.getElementById("navigation-list");

    // Leverage event bubbling
    navigationListUl.addEventListener("click", (event) => {
      const navigationAnchor = event.target.closest("a");

      // Clicked a li, not the anchor
      if (!navigationAnchor) return;
      // Already active
      if (navigationAnchor.classList.contains(activeLinkClassName)) return;

      // Turn off the previously active navigation anchor
      const previous = navigationListUl.querySelector("." + activeLinkClassName);
      previous.classList.replace(activeLinkClassName, inactiveLinkClassName);

      // Add the active class
      navigationAnchor.classList.replace(inactiveLinkClassName, activeLinkClassName);
    });

    /*
    const navigationListLi = navigationListUl.querySelectorAll("li");

    navigationListLi.forEach((li) => {

      // Change the pressed link color
      navigationAnchor.addEventListener("click", (event) => {
        const activeLinkClassName = "text-blue-400"
        const inactiveLinkClassName = "text-slate-400"

        navigationAnchor.classList.remove(inactiveLinkClassName);
        navigationAnchor.classList.add(activeLinkClassName);

        // Change the other links color
        navigationListLi.forEach((subLi) => {
          // Check it's not the same li
          if (subLi != li) {
            // Get the link
            const subLiNavigationAnchor = subLi.querySelector("a");
            subLiNavigationAnchor.classList.remove(activeLinkClassName)
            subLiNavigationAnchor.classList.add(inactiveLinkClassName)
          }
        });
      })
    });
    */
  </script>
{% endblock %}
