{% extends "base/base.html" %}
{% load static %}

{% block title %}Blueprint{% endblock %}

{% block body %}
  <header class="text-center p-2">
    <h1>Blueprint</h1>
    <time id="live-clock"></time>
  </header>

  <div class="flex gap-10 p-2">
    <aside class="p-2">
      <h3>Navigation</h3>
      <ul id="navigation-list">
        <li>&gt; <a class="text-blue-400" hx-get="{% url 'today' %}" hx-target="#active" hx-swap="innerHTML">Today</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="{% url 'scheduled' %}" hx-target="#active" hx-swap="innerHTML">Scheduled</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="{% url 'backlog' %}" hx-target="#active" hx-swap="innerHTML">Backlog</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="{% url 'completed' %}" hx-target="#active" hx-swap="innerHTML">Completed</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="#" hx-target="#" hx-swap="innerHTML">Logbook</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="#" hx-target="#" hx-swap="innerHTML">Lists</a></li>
        <li>&gt; <a class="text-slate-400" hx-get="#" hx-target="#" hx-swap="innerHTML">Notes</a></li>
      </ul>
    </aside>

    <main id="active" class="grow p-2">
      <!-- By default show Today section -->
      {% include 'base/partials/today.html' with overdue=overdue_todos pending=today_pending_todos completed=today_completed_todos %}
    </main>

    <aside class="hidden md:block p-2">
      <section>
        {% include "base/partials/minical.html" %}
      </section>

      <hr />

      <section class="p-2">
        <h3>Overdue</h3>
        <ul>
          {% for todo in overdue_todos %}
            <li>! {{ todo.task }}</li>
          {% endfor %}
        </ul>
      </section>
    </aside>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'base/js/live_clock.js' %}"></script>
  <script src="{% static 'base/js/navigation_links.js' %}"></script>
{% endblock %}
